* {
    margin-right: 0%;
    margin-left: 0%;
    padding: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}

body {
    background-image: linear-gradient(to right, #00c6ff, #0072ff);
}

.header-container {
    margin-top: 2%;
    font-size: 240%;
    text-align: center;
}

.menu-container {
    display: flex;
    margin-top: 5%;
    margin-right: 1%;
    margin-left: 1%;
    justify-content: center;
    flex-wrap: wrap;
}

.box-1 {
    float: left;
    border: 1px solid #000000;
    background-color: #e5e5e5;
    width: 30%;
    margin-right: 1em;
}

.box-2 {
    float: left;
    border: 1px solid #000000;
    background-color: #e5e5e5;
    width: 30%;
    margin-right: 1em;
}

.box-3 {
    float: left;
    border: 1px solid #000000;
    background-color: #e5e5e5;
    width: 30%;
}

.title-container {
    margin-top: 0%;
    margin-bottom: 0%;
    border-top: 0%;
    border-right: 0%;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    width: 32%;
}

#title-1 {
    float: right;
    text-align: center;
    background-color: #fff75f;
    color: #252525;
}

#title-2 {
    float: right;
    text-align: center;
    background-color: #ff72ff;
    color: #252525;
}

#title-3 {
    float: right;
    text-align: center;
    background-color: #f08080;
    color: #252525;
}

.paragraph-container {
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    color: #252525;
}

/** Mobile Version **/
@media only screen and (max-width: 767px) {
    .header-container {
        font-size: 4em;
    }

    .menu-container {
        display: flex;
        margin-top: 3em;
        margin-right: 0em;
        margin-left: 1em;
    }

    .box-1 {
        position: relative;
        border: 1px solid #000000;
        margin-bottom: 3em;
        background-color: #e5e5e5;
        width: max-content;
    }

    .box-2 {
        position: relative;
        border: 1px solid #000000;
        margin-bottom: 3em;
        background-color: #e5e5e5;
        width: max-content;
    }

    .box-3 {
        position: relative;
        border: 1px solid #000000;
        margin-bottom: 3em;
        background-color: #e5e5e5;
        width: max-content;
        margin-right: 1em;
    }

    .paragraph-container {
        margin-top: 2em;
    }
}

/** Tablet Version **/
@media only screen and (min-width:767px) and (max-width: 992px) {
    .header-container {
        font-size: 4em;
    }

    .menu-container {
        margin-top: 3em;
    }

    .box-1 {
        float: left;
        width: 20em;
        margin-right: 2em;
    }
    .box-2 {
        float: left;
        width: 20em;
    }

    .box-3 {
        float: left;
        margin-top: 2em;
        margin-left: -1em;
        border: 1px solid #000000;
        background-color: #e5e5e5;
        width: 42em;
    }

    .title-container {
        margin-top: 0%;
        margin-bottom: 0%;
        border-top: 0%;
        border-right: 0%;
        border-bottom: 1px solid #000000;
        border-left: 1px solid #000000;
        width: 32%;
    }

    #title-1 {
        float: right;
        text-align: center;
        background-color: #fff75f;
        color: #252525;
    }

    #title-2 {
        float: right;
        text-align: center;
        background-color: #ff72ff;
        color: #252525;
    }

    #title-3 {
        float: right;
        text-align: center;
        background-color: #f08080;
        color: #252525;
    }

    .paragraph-container {
        margin-top: 10%;
        margin-left: 2%;
        margin-right: 2%;
        color: #252525;
    }
}